[submodule "1:PasswordStore/2023-10-PasswordStore"]
    path = 1:PasswordStore/2023-10-PasswordStore
    url = https://github.com/Cyfrin/2023-10-PasswordStore

[submodule "2:PuppyRaffle/2023-10-Puppy-Raffle"]
    path = 2:PuppyRaffle/2023-10-Puppy-Raffle
    url = https://github.com/Cyfrin/2023-10-Puppy-Raffle

[submodule "3:ThunderLoan/2023-11-Thunder-Loan"]
    path = 3:ThunderLoan/2023-11-Thunder-Loan
    url = https://github.com/Cyfrin/2023-11-Thunder-Loan

[submodule "21:KittyFi/2024-08-kitty-fi"]
    path = 21:KittyFi/2024-08-kitty-fi
    url = https://github.com/Cyfrin/2024-08-kitty-fi

[submodule "27:TrickOrTreat/2024-10-trick-or-treat"]
    path = 27:TrickOrTreat/2024-10-trick-or-treat
    url = https://github.com/Cyfrin/2024-10-trick-or-treat

[submodule "29:TwentyOne/2024-11-twentyone"]
    path = 29:TwentyOne/2024-11-twentyone
    url = https://github.com/Cyfrin/2024-11-TwentyOne

[submodule "31:ChristmasDinner/2024-12-christmas-dinner"]
    path = 31:ChristmasDinner/2024-12-christmas-dinner
    url = https://github.com/Cyfrin/2024-12-christmas-dinner

[submodule "35:InheritableSmartContractWallet/2025-03-inheritable-smart-contract-wallet"]
    path = 35:InheritableSmartContractWallet/2025-03-inheritable-smart-contract-wallet
    url = https://github.com/CodeHawks-Contests/2025-03-inheritable-smart-contract-wallet

[submodule "48:BidBeasts/2025-09-bid-beasts"]
    path = 48:BidBeasts/2025-09-bid-beasts
    url = https://github.com/CodeHawks-Contests/2025-09-bid-beasts
