# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.DS_Store

broadcast

# Specific files
/home/user/codehawks_first_flight/31:ChristmasDinner/notepad.md